body {
    height: 100%;
    font-family: sans-serif;
    margin: auto;
    padding: 20px;
    color: white;
    background: rgb(0,75,115);
    background: radial-gradient(circle, rgba(0,75,115,1) 0%, rgba(0,50,103,1) 100%);
    font-size: 1.2em;
}

h1 {
    text-align: center;
}

#logo {
    height: calc(8em);
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: -1;
}

p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

input {
	width: 100%;
	height: calc(1.5em + 10px);
    font-size: 1.5em;
    text-align: center;
}

#input {
    margin-top: 1em;
}

#output {
	background-color: lightgray;
    margin-bottom: .5em;
    cursor: default;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

i {
    font-size: 2.1em;
    color: white;
}

.convert {
    background-color: #000f2d; /* Dark Blue */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
}

.convert:hover{
    background-color: #1c2a45;
}

.swap {
    background-color: #182339; /* Grayish */
    border: none;
    padding: 15px 32px;
    margin: 0 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
}

.swap:hover{
    background-color: #303e5c;
}

button {
    position: relative;
    display: inline-block;
}

button .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    
    bottom: calc(100% + 5px);
    left: 50%;
    margin-left: -75px;

    opacity: 0;
    transition: opacity .2s;
    
    font-size: 16px;
}

button:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

button .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#progress {
    margin: 0 auto .5em auto;
    width: 80%;
    min-width: 455px;
    background-color: darkgray;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#bar {
    width: 0%;
    height: 2em;
    background-color: #4287f5;
    font-size: 1em;
    -moz-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


